In [1]:
def myfunction(a,b):
    if a%b==0:
        return True
    else:
        return False
x=myfunction(10,5)
print(x)

True

In [2]:
str1='the world is random.logic is fantasy'
str2 = str1.upper()
print(str2)

THE WORLD IS RANDOM.LOGIC IS FANTASY

In [3]:
str1='the world is random.logic is fantasy'
print(str1.title())

The World Is Random.Logic Is Fantasy

In [4]:
students={'Names':['Ajay','Amar'],'Scores':[45,65]}
print(students.values())

dict_values([['Ajay', 'Amar'], [45, 65]])

In [5]:
str2='May be i should stop caring'
str2[::-1]

'gnirac pots dluohs i eb yaM'

In [6]:
for x in range (1,50):
    if x%7==0:
        print(x)

7
14
21
28
35
42
49

In [7]:
num=357
print(len(str(num)))

3

In [8]:
s1='peace'
s2='sells'
s3=(s1+' '+s2)
print(s3)

peace sells

In [9]:
lis1=[243,476,59,667,33,44]
x=list(filter(lambda y:y%3==0,lis1))
print(x)

[243, 33]

In [10]:
def myfunction(x):
    if x >95:
        print('Grade=EX')
    elif x>85 and x<=95:
        print('Grade=A')
    elif x>70 and x<=85:
        print('Grade=B')
    else:
        print('Grade=Pass')
        
myfunction(70)
myfunction(80)
myfunction(95)
myfunction(98)

Grade=Pass
Grade=B
Grade=A
Grade=EX

In [11]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [14]:
die1={'Greeting':['Hello','Hi'],'Apology':['Sorry','Forgive me']}
ser1=pd.Series(die1)
print(ser1)

Greeting            [Hello, Hi]
Apology     [Sorry, Forgive me]
dtype: object

In [15]:
import pandas as pd
from pandas import Series,DataFrame

In [16]:
df1=DataFrame({'day':('01/01/2017','01/02/2017','01/03/2017','01/04/2017','01/01/2017',
                      '01/02/2017','01/03/2017','01/04/2017','01/01/2017','01/02/2017',
                      '01/03/2017','01/04/2017'),
               'City': (['NY','NY','NY','NY','MU','MU','MU','MU','PAR','PAR','PAR','PAR']),
               'Temperature':[32,36,28,33,90,85,87,92,45,50,54,42],
               'windspeed': [6,7,12,7,5,12,15,5,20,13,8,10],
               'event':['rain','sunny','snow','sunny','sunny','fog','fog','rain','sunny','cloudy','cloudy','cloudy']})
df1

           day City  Temperature  windspeed   event
0   01/01/2017   NY           32          6    rain
1   01/02/2017   NY           36          7   sunny
2   01/03/2017   NY           28         12    snow
3   01/04/2017   NY           33          7   sunny
4   01/01/2017   MU           90          5   sunny
5   01/02/2017   MU           85         12     fog
6   01/03/2017   MU           87         15     fog
7   01/04/2017   MU           92          5    rain
8   01/01/2017  PAR           45         20   sunny
9   01/02/2017  PAR           50         13  cloudy
10  01/03/2017  PAR           54          8  cloudy
11  01/04/2017  PAR           42         10  cloudy

In [17]:
df1.groupby('City')['Temperature'].mean()

City
MU     88.50
NY     32.25
PAR    47.75
Name: Temperature, dtype: float64

In [18]:
df1.groupby('City').Temperature.mean()

City
MU     88.50
NY     32.25
PAR    47.75
Name: Temperature, dtype: float64

In [19]:
arr=np.array([[7,19,15,14],[8,5,17,11],[10,19,5,18],[7,7,0,2]])
arr[1,1]

5

In [20]:
d={'k1':[{'nest_key':['this is deep',['hello']]}]}
d
d['k1']
d['k1'][0]['nest_key'][1][0]
d['k1'][0]['nest_key'][1][0]

'hello'

In [21]:
listed=[1,2,[3,4,'hello']]
listed[2][2] = 'Goodbye'
listed

[1, 2, [3, 4, 'Goodbye']]

In [22]:
lis2=[12112,3434,45,2,3434,884,34,87,76,4,5]
x= list(filter(lambda y: len(str(y))<=2,lis2))
print(x)

[45, 2, 34, 87, 76, 4, 5]

In [23]:
lis2=[12112,3434,45,2,3434,884,34,87,76,4,5]
for x in lis2:
    if len(str(x))<=2:
        print(x, end=',')

45,2,34,87,76,4,5,

In [24]:
lis1=[243,476,59,667,33,44]
y = list(filter(lambda x: x%3==0,lis1))
y

[243, 33]

In [25]:
str1='Hello Mr.Edwin,how are you this fine Saturday?'
upper=0
lower=0
for x in str1:
    if (x.isupper()):
        upper=upper+1
    elif (x.islower()):
        lower=lower+1
        
print('The number of uppercase is',upper)
print('The number of lowercase is',lower)

The number of uppercase is 4
The number of lowercase is 33

In [26]:
str1='Hello Mr.Edwin,how are you this fine Saturday?'
str1.isupper()

False

In [27]:
str1='Hello Mr.Edwin,how are you this fine Saturday?'
str1.lower()

'hello mr.edwin,how are you this fine saturday?'

In [28]:
def myfunction(str1):
    upper=0
    lower=0
    for x in str1:
        if (x.isupper()):
            upper=upper+1
        elif (x.islower()):
            lower=lower+1
    print("uppercase",upper)
    print("lowercase",lower)
myfunction('Hello Mr.Edwin,how are you this fine Saturday?')

uppercase 4
lowercase 33

In [29]:
def myfunction(mystr1):
    ucount=0
    lcount=0
    
    for i in mystr1:
        if(i.islower()):
            lcount=lcount+1
        elif(i.isupper()):
            ucount=ucount+1
    print("The number of lower characters:",lcount)
    print("The number of upper characters:",ucount)
    
myfunction('Hello Mr. Rogers, how are you this fine Tuesday?')

The number of lower characters: 33
The number of upper characters: 4

In [30]:
def is_pangram(phrase):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for x in alphabet:
        if x not in phrase:
            return False
    return True

is_pangram("abcdefghijklmnopqrstuvwxyz")

True

In [31]:
str2='The Quick fox jumps over the lazy dog'
def pangram(str2):
    alphabet='abcdefghijklmnopqrstuvwxyz'
    for x in str2:
        if x not in alphabet:
            return False
        else:
            return True
pangram('The Quick fox jumps over the lazy dog')

False

In [32]:
str1='RACECARE'
def myfunction(str1):
    if str1 == str1[::-1]:
        return True
    else:
        return False
myfunction('RACECARE')

False

In [33]:
str1='RACECAR'
y = str1[::-1]
y
str1

'RACECAR'

In [34]:
first_name = 'Hello'
last_name = 'World'
first_name + last_name

'HelloWorld'

In [35]:
lis=['hai','world',43,56]
lis[0]='hello'
lis

['hello', 'world', 43, 56]

In [36]:
dic={'Eddy':13,'Maria':44,'Jas':21}
dic[3] = {'alpha':26}
dic

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 3: {'alpha': 26}}

In [37]:
for x in range(0,11):
    if x%2==0:
        print(x)

0
2
4
6
8
10

In [38]:
for x in range(1,26):
    if x%3==0 and x%5==0:
        print("Python coding")
    elif x%3==0:
        print("Python")
    elif x%5==0:
        print("Coding")
    else:
        print(x)

1
2
Python
4
Coding
Python
7
8
Python
Coding
11
Python
13
14
Python coding
16
17
Python
19
Coding
Python
22
23
Python
Coding

In [39]:
count=6
while count<=10:
    count=count+1
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [40]:
count=6
while count<=10:
    count=count+1
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [41]:
for x in range(1,25):
    if 24%x==0:
        print(x)

1
2
3
4
6
8
12
24

In [42]:
for i in range(1,6):
    print('A'*i)
for j in range(4,0,-1):
    print('A'*j)

A
AA
AAA
AAAA
AAAAA
AAAA
AAA
AA
A

In [43]:
x='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
n=0
for i in x:
    n=n+1
    print(i*n)

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN
OOOOOOOOOOOOOOO
PPPPPPPPPPPPPPPP
QQQQQQQQQQQQQQQQQ
RRRRRRRRRRRRRRRRRR
SSSSSSSSSSSSSSSSSSS
TTTTTTTTTTTTTTTTTTTT
UUUUUUUUUUUUUUUUUUUUU
VVVVVVVVVVVVVVVVVVVVVV
WWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYYYYYYY
ZZZZZZZZZZZZZZZZZZZZZZZZZZ

In [44]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]
print(d[0]['name'],d[1]['name'])

hydrogen carbon

In [45]:
d[0]['number']

1

In [46]:
print(d[0]['number']*6.07)
print(d[1]['number']*6.07)

6.07
12.14

In [47]:
x = d[0]['number']
y = d[1]['number']
print(x*6.07)
print(y*6.07)

6.07
12.14

In [48]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]
d

[{'name': 'hydrogen', 'number': 1, 'weight': 1.0},
 {'name': 'carbon', 'number': 2, 'weight': 4.002}]

In [52]:
def myfunction(d):
    for x in d:
        if x=='name':'carbon'
        print(x)
myfunction([{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}])

{'name': 'hydrogen', 'number': 1, 'weight': 1.0}
{'name': 'carbon', 'number': 2, 'weight': 4.002}

In [53]:
list1=[d[0]['name'],d[1]['name']]
list1
def myfunction(x):
    if x=='carbon':
        return True
    else:
        return False
res=list(map(myfunction,list1))
print(res)

[False, True]

In [54]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]
x = map(d,('carbon'))
x

In [55]:
map('name',d)

In [56]:
dic2={'name':['alpha','beta','gamma','delta'],"Age":[23,45,12,65],"Marks":[34.54,89.3,98.23,99]}
dic2

{'name': ['alpha', 'beta', 'gamma', 'delta'],
 'Age': [23, 45, 12, 65],
 'Marks': [34.54, 89.3, 98.23, 99]}

In [57]:
dic2['Age'][2]

12

In [58]:
dic2['Age'][2],dic2['Age'][1]

(12, 45)

In [59]:
dic2['Marks'][0::2], dic2['Age'][0::2]

([34.54, 98.23], [23, 12])

In [61]:
list1=[1,2,3,4,5,6] #swap first and last element
list1[0],list1[-1] = list1[-1],list1[0]
list1

[6, 2, 3, 4, 5, 1]

In [66]:
len(list1) #number of elements in a list:

10

In [63]:
import random

In [64]:
list1=[1,2,3,4,5,6,7,8,9,10];
x=random.shuffle(list1)
print(list1)

[9, 10, 8, 3, 4, 2, 6, 1, 5, 7]

In [65]:
str1 = 'Hello Kaaviya How are you doing'
str1.split()

['Hello', 'Kaaviya', 'How', 'are', 'you', 'doing']